# Arquivo: public/.htaccess

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirecionar todas as requisições para o arquivo index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Definir o tipo de arquivo padrão como PHP
<FilesMatch "\.(php)$">
    SetHandler application/x-httpd-php
</FilesMatch>

# Desativar o diretório de listagem
Options -Indexes
